@import "@tomtom-international/web-sdk-maps";

.map {
  height: 900px;
  position: relative;
}

.munroProfile {
  height: 400px;
  position: relative;
}

.popup-container {
  padding: 0 15px 0 5px;
}

.popup-container .name {
  font-weight: bold;
}

.mapboxgl-cltr-top-right,
.mapboxgl-cltr-bottom-right {
  right: 50%;
  margin-right: -610px;
}

.mapboxgl-cltr-top-right {
  top: 15px;
}

@media screen and (max-width: 1280px) {
  .mapboxgl-cltr-top-right,
  .mapboxgl-cltr-bottom-right {
    right: 0;
    margin-right: 32px;
  }
}

.marker-munro {
  height: 25px;
  width: 25px;
  position: relative;
}

.marker {
  background-image: url(mntn-not-bagged.png);
  top: 5px;
  left: 5px;
  position: absolute;
  content: "";
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 12px solid red;
}

.marker-munro-done {
  height: 25px;
  width: 25px;
  position: relative;
}

.marker-munro-done:after {
  background-image: url(mntn-bagged.png);
  top: 5px;
  left: 5px;
  position: absolute;
  content: "";
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 12px solid green;
}
